<header class="site-header">
  <div class="wrap">
    <a class="brand" href="{{ "" | relLangURL }}">
      <img src="{{ "/Vulgaris/img/favicon.svg" | relURL }}" alt="Vulgaris logo" class="logo-img">
      <span class="brand-text">{{ site.Title }}</span>
    </a>
    <nav aria-label="Primary">
      <ul class="main-nav">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
          <li>
            <a href="{{ .URL }}"
               {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}aria-current="page"{{ end }}>
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
